<p>This is the partial for view 1.</p>

<div class="block row">
  <div class="title"><h4>Select your CSV file: </h4></div>
  <div class="block right">
    <ng-csv-import 
      class="import"
      content="csv.content"
      header="csv.header" 
      header-visible="csv.headerVisible" 
      separator="csv.separator"
      separator-visible="csv.separatorVisible"
      result="csv.result"
      encoding="csv.encoding"
      encoding-visible="csv.encodingVisible"></ng-csv-import>
  </div>
</div> 

<div class="block row"  ng-if="csv.result">
  <div class="content" hljs source="toPrettyJSON(csv.result, 2)"></div>
</div>