<div class="row">
	<div class="col-md-9">
		<p>Selected item is: {{ currApartment.address }}</p>
		<ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
			<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" events="m.events" clickable="m.clickable"></ui-gmap-marker>
		</ui-gmap-google-map>
		
	</div>
	<div class="col-md-3">
		<!-- custom apartment-data directive with apartments attribute 'apartments' -->
		<apartment-data apartments='apartments'></apartment-data>
	</div>
</div>

